@import "menu";
@import "mixins";
$header_heightDesktop: 350px;
$bloc1_heightDesktop: 400px;
$bloc2_heightDesktop: 300px;
$bloc3_heightDesktop: 100px;
$bloc4_heightDesktop: 300px;
$bloc5_heightDesktop: 100px;
$bloc1-article_heightDesktop: 350px; 
$bloc2-article_heightDesktop: 350px;
$bloc3-article_heightDesktop: 350px;
$bloc4-article_heightDesktop: 350px;
$footer_heightDesktop: 200px;
/* ------- STYLE POUR ECRAN TAILLE SMALL: min-width:0px ------- */
@include respond-to("small") {

/* --- HEADER --- */
    header{

        min-height: 150px;
        max-height: $header_heightDesktop;
        height: 50vw;
        background-color: red;   
        .menu{
            height: 40px;
            background-color: green;
        }
    }
/* --- MAIN --- */
    .main{
        height: auto;

        .contain{
            background-color: yellow;
            height: 100%;
        }
        //Bloc 1: Les énergies
        .bloc:nth-child(1) {
            background-color: blue;
            //Hauteur en fonction width viewport et ses limites
            height: 80vw;
            min-height: 300px;
            max-height: $bloc1_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: blue;
                height: 100%;
            }            
        }

        //Bloc 2: Section "Produire et mieux consommer"
        .bloc:nth-child(2) {
            background-color: palegreen;
            height: 80vw;
            min-height: 300px;     
            max-height: $bloc2_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: palegreen;
                height: 100%;
            }
        }

        //Bloc 3: Bouton CTA "Comprendre notre modèle de production"
        .bloc:nth-child(3) {
            background-color: paleturquoise;
            height: 30vw;   
            max-height: $bloc3_heightDesktop;
            
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: paleturquoise;
                height: 100%;
            }
        }
        //Bloc 4: Pourquoi devenir sociétaire
        .bloc:nth-child(4) {
            background-color: #FCFF6C;
            height: 80vw;  
            max-height: $bloc4_heightDesktop;
            
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: #FCFF6C;
                height: 100%;
            }
        }
        //Bloc 5: Bouton CTA "souscrire"
        .bloc:nth-child(5) {
            background-color: orange;
            height: 30vw;
            //min-height: 10px;     
            max-height: $bloc5_heightDesktop;
            
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: orange;
                height: 100%;
            }
        }    
    }
/* --- ARTICLES --- */
.articles{
    //Applicable aux blocs
    .bloc {
        margin-bottom: 10px;
    }
    .bloc:nth-child(1) {
        background-color: pink;
        //Hauteur en fonction width viewport et ses limites
        height: 80vw;
        min-height: 300px;
        max-height: $bloc1-article_heightDesktop;
        // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
        .contain{
            background-color: pink;
            height: 100%;
        }            
    }
    .bloc:nth-child(2) {
        background-color: brown;
        //Hauteur en fonction width viewport et ses limites
        height: 80vw;
        min-height: 300px;
        max-height: $bloc2-article_heightDesktop;
        // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
        .contain{
            background-color: brown;
            height: 100%;
        }            
    }
    .bloc:nth-child(3) {
        background-color: blue;
        //Hauteur en fonction width viewport et ses limites
        height: 80vw;
        min-height: 300px;
        max-height: $bloc3-article_heightDesktop;
        // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
        .contain{
            background-color: blue;
            height: 100%;
        }            
    }
    .bloc:nth-child(4) {
        background-color: rgb(189, 45, 45);
        //Hauteur en fonction width viewport et ses limites
        height: 80vw;
        min-height: 300px;
        max-height: $bloc4-article_heightDesktop;
        // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
        .contain{
            background-color: rgb(189, 45, 45);
            height: 100%;
        }            
    }
}
footer {
    background-color: black;
    //Hauteur en fonction width viewport et ses limites
    height: 50vw;
    min-height: 200px;
    max-height: $footer_heightDesktop;
    // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
    .contain{
        background-color: black;
        height: 100%;
    }            
}

}
/* ------- STYLE POUR ECRAN TAILLE MEDIUM ------- */
@include respond-to("medium") {
    //Structure desktop
    header {
        //Dimension
        height: $header_heightDesktop;
        //Style
        background-color: red;
    }
    .contain {
        //Bloquer la largeur 
        max-width: map-get($breakpoints,medium);
        height: 100%;
        margin: 0 auto;
    }
    .main {
        background-color: green;
        height: auto;
       
        .bloc:nth-child(1) {
            background-color: blue;
            height: $bloc1_heightDesktop;
            .contain{
                background-color: yellow;
                height: 100%;
            }            
        }
        .bloc:nth-child(2) {
            background-color: palegreen;
            height: $bloc2_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        .bloc:nth-child(3) {
            background-color: paleturquoise;
            height: $bloc3_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        .bloc:nth-child(4) {
            background-color: #FCFF6C;
            height: $bloc4_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        .bloc:nth-child(5) {
            background-color: orange;
            height: $bloc5_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
    }
    .articles {
        height: auto;
        background-color: green;
        //Contient le contenu
        .contain {
            background-color: red;
            max-width: map-get($breakpoints,medium);
            height: 100%;
            margin: 0 auto;
        }
        //Bloc 1: Actualités
        .bloc:nth-child(1) {
            background-color: pink;
            height: $bloc1-article_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        //Bloc 3: Notre démarche
        .bloc:nth-child(2) {
            background-color: brown;
            height: $bloc2-article_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        //Bloc 3: Nos installations
        .bloc:nth-child(3) {
            background-color: blue;
            height: $bloc3-article_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        //Bloc 4: Témoignages
        .bloc:nth-child(4) {
            background-color: rgb(189, 45, 45);
            height: $bloc4-article_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        
    }
    footer {
        height: $footer_heightDesktop;
        background-color: black;
        .contain{
            background-color: yellow;
            height: 100%;
        }
    }
   
}
