@import "menu";
@import "mixins";
/* ------- STYLE POUR ECRAN TAILLE SMALL: min-width:0px ------- */
@include respond-to("small") {

}
/* ------- STYLE POUR ECRAN TAILLE MEDIUM ------- */
@include respond-to("medium") {
    //Structure desktop
    header {
        //Dimension
        height: 350px;
        //Style
        background-color: red;
    }
    .main {
        background-color: green;
        height: auto;
        .contain {
            background-color: yellow;
            width: 65%;
            height: 100%;
            margin: 0 auto;
        }
        .bloc:nth-child(1) {
            background-color: blue;
            height: 300px;
        }
        .bloc:nth-child(2) {
            background-color: brown;
            height: 300px;
        }
        .bloc:nth-child(3) {
            background-color: pink;
            height: 50px;
        }
        .bloc:nth-child(4) {
            background-color: yellow;
            height: 100px;
        }
        .bloc:nth-child(5) {
            background-color: orange;
            height: 50px;
        }
    }
    .articles {
        height: auto;
        background-color: green;
        //Contient le contenu
        .contain {
            background-color: red;
            width: 65%;
            height: 100%;
            margin: 0 auto;
        }
        //Applicable aux blocs
        .bloc {
            margin-bottom: 10px;
        }
        //Bloc 1: Actualités
        .bloc:nth-child(1) {
            background-color: blue;
            height: 300px;
        }
        //Bloc 2: Notre démarche
        .bloc:nth-child(2) {
            background-color: pink;
            height: 300px;
        }
        //Bloc 3: Nos installations
        .bloc:nth-child(3) {
            background-color: yellow;
            height: 300px;
        }
        //Bloc 4: Témoignages
        .bloc:nth-child(4) {
            background-color: brown;
            height: 300px;
        }
    }
    footer {
        height: 200px;
        background-color: black;
    }
}
