/* ------- MIXIN RACCOURCIS ------- */
/* GENERAL */
@font-face {
  font-family: "lato-regular";
  src: url("quadranta.eot?") format("ttf");
}

.text_logo {
  font-family: "lato-regular";
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
  background-color: transparent;
  font-family: lato-regular;
}

li {
  list-style-type: none;
}

/* ------- STYLE POUR ECRAN TAILLE SMALL: min-width:0px ------- */
@media (min-width: 0px) {
  /* --- HEADER --- */
  header {
    min-height: 150px;
    max-height: 350px;
    height: 50vw;
    background-color: red;
    background-image: url("../img/photos/bgHeader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  header .menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    height: auto;
    background-color: white;
    padding: 5px 10px;
    /* Ouvrir le menu + Style */
    /* Fermer le menu */
  }
  header .menu .logo {
    height: 100%;
  }
  header .menu .logo img {
    height: 40px;
  }
  header .menu .hamburger {
    width: 35px;
  }
  header .menu label {
    margin-bottom: 0px;
  }
  header .menu #dropdownMenu {
    display: none;
  }
  header .menu input[type="checkbox"]:checked ~ .navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    top: 50px;
    left: 0px;
    height: 200px;
    width: 100vw;
    background-color: whitesmoke;
  }
  header .menu input[type="checkbox"] ~ .navigation {
    display: none;
  }
  header .menu .navigation ul {
    text-align: center;
  }
  header .menu .navigation ul li {
    font-size: 1.2em;
  }
  header .menu .misEnAvant a {
    color: #fcb731;
  }
  /* --- MAIN --- */
  .main {
    height: auto;
  }
  .main .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(1) {
    background-color: blue;
    height: auto;
    min-height: 300px;
    max-height: auto;
  }
  .main .bloc:nth-child(1) h2, .main .bloc:nth-child(1) h2 ~ p {
    color: #fcb731;
    font-weight: 800;
  }
  .main .bloc:nth-child(1) h2 {
    font-size: 1.7em;
  }
  .main .bloc:nth-child(1) h2 ~ p {
    font-size: 1.1em;
    margin-top: -10px;
  }
  .main .bloc:nth-child(1) .contain {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding-top: 20px;
    font-family: lato-regular;
  }
  .main .bloc:nth-child(1) .logo {
    width: 60px;
  }
  .main .bloc:nth-child(1) .iconsEnergie {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .main .bloc:nth-child(1) .ligne1, .main .bloc:nth-child(1) .ligne2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
  }
  .main .bloc:nth-child(1) .elementEnergie {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .main .bloc:nth-child(1) .elementEnergie img {
    height: 100px;
  }
  .main .bloc:nth-child(1) .contain {
    background-color: blue;
    height: auto;
  }
  .main .bloc:nth-child(2) {
    background-color: palegreen;
    height: 80vw;
    min-height: 300px;
    max-height: 300px;
  }
  .main .bloc:nth-child(2) .contain {
    background-color: palegreen;
    height: 100%;
  }
  .main .bloc:nth-child(3) {
    background-color: paleturquoise;
    height: 30vw;
    max-height: 100px;
  }
  .main .bloc:nth-child(3) .contain {
    background-color: paleturquoise;
    height: 100%;
  }
  .main .bloc:nth-child(4) {
    background-color: #fcff6c;
    height: 80vw;
    max-height: 300px;
  }
  .main .bloc:nth-child(4) .contain {
    background-color: #fcff6c;
    height: 100%;
  }
  .main .bloc:nth-child(5) {
    background-color: orange;
    height: 30vw;
    max-height: 100px;
  }
  .main .bloc:nth-child(5) .contain {
    background-color: orange;
    height: 100%;
  }
  /* --- ARTICLES --- */
  .articles .bloc {
    margin-bottom: 10px;
  }
  .articles .bloc:nth-child(1) {
    background-color: pink;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(1) .contain {
    background-color: pink;
    height: 100%;
  }
  .articles .bloc:nth-child(2) {
    background-color: brown;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(2) .contain {
    background-color: brown;
    height: 100%;
  }
  .articles .bloc:nth-child(3) {
    background-color: blue;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(3) .contain {
    background-color: blue;
    height: 100%;
  }
  .articles .bloc:nth-child(4) {
    background-color: #bd2d2d;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(4) .contain {
    background-color: #bd2d2d;
    height: 100%;
  }
  footer {
    background-color: black;
    height: 50vw;
    min-height: 200px;
    max-height: 200px;
  }
  footer .contain {
    background-color: black;
    height: 100%;
  }
}

/* ------- STYLE POUR ECRAN TAILLE MEDIUM ------- */
@media (min-width: 800px) {
  header {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 350px;
  }
  header .menu {
    -ms-flex-pack: justify;
        justify-content: space-between;
    background-color: transparent;
    max-width: 800px;
    /* Ouvrir le menu + Style */
  }
  header .menu input[type="checkbox"]:checked ~ .navigation, header .menu input[type="checkbox"] ~ .navigation {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    height: auto;
    top: 0px;
    margin-left: 20px;
    padding: 10px;
    background-color: transparent;
  }
  header .menu .navigation ul {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-bottom: 0px;
  }
  header .menu .navigation li {
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background-color: #b3d143;
  }
  header .menu .navigation li a {
    font-weight: 700;
  }
  header .menu .navigation .misEnAvant {
    background-color: #fcb731;
    margin-left: 10px;
  }
  header .menu .navigation .misEnAvant a {
    color: black;
  }
  header .menu .navigation ul li a {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  header .menu .hamburger {
    display: none;
  }
  header .menu .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    background-color: white;
    padding: 5px;
  }
  header .menu .logo img {
    height: 18px;
    -ms-flex-order: -2;
        order: -2;
  }
  .contain {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
  }
  .main {
    background-color: green;
    height: auto;
  }
  .main .bloc:nth-child(1) {
    background-color: blue;
    height: auto;
  }
  .main .bloc:nth-child(1) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(1) .iconsEnergie {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .main .bloc:nth-child(1) .iconsEnergie .elementEnergie img {
    width: 80px;
  }
  .main .bloc:nth-child(2) {
    background-color: palegreen;
    height: 300px;
  }
  .main .bloc:nth-child(2) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(3) {
    background-color: paleturquoise;
    height: 100px;
  }
  .main .bloc:nth-child(3) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(4) {
    background-color: #fcff6c;
    height: 300px;
  }
  .main .bloc:nth-child(4) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(5) {
    background-color: orange;
    height: 100px;
  }
  .main .bloc:nth-child(5) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles {
    height: auto;
    background-color: green;
  }
  .articles .contain {
    background-color: red;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
  }
  .articles .bloc:nth-child(1) {
    background-color: pink;
    height: 350px;
  }
  .articles .bloc:nth-child(1) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles .bloc:nth-child(2) {
    background-color: brown;
    height: 350px;
  }
  .articles .bloc:nth-child(2) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles .bloc:nth-child(3) {
    background-color: blue;
    height: 350px;
  }
  .articles .bloc:nth-child(3) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles .bloc:nth-child(4) {
    background-color: #bd2d2d;
    height: 350px;
  }
  .articles .bloc:nth-child(4) .contain {
    background-color: yellow;
    height: 100%;
  }
  footer {
    height: 200px;
    background-color: black;
  }
  footer .contain {
    background-color: yellow;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
