@import "menu";
@import "mixins";
$header_heightDesktop: 350px;
$bloc1_heightDesktop: 400px;
$bloc2_heightDesktop: 300px;
$bloc3_heightDesktop: 100px;
/* ------- STYLE POUR ECRAN TAILLE SMALL: min-width:0px ------- */
@include respond-to("small") {
    header{
        
        min-height: 150px;
        max-height: $header_heightDesktop;
        height: 50vw;
        background-color: red;   
        .menu{
            height: 40px;
            background-color: green;
        }
    }
    .main{
        height: auto;
        height: 250px;

        .contain{
            background-color: yellow;
            height: 100%;
        }
        //Bloc 1: Les énergies
        .bloc:nth-child(1) {
            background-color: blue;
            //Hauteur en fonction width viewport et ses limites
            height: 80vw;
            min-height: 300px;
            max-height: $bloc1_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: blue;
                height: 100%;
            }            
        }

        //Bloc 2: Section "Produire et mieux consommer"
        .bloc:nth-child(2) {
            background-color: palegreen;
            height: 80vw;
            min-height: 300px;     
            max-height: $bloc2_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: palegreen;
                height: 100%;
            }
        }

        //Bloc 3: Section CTA "Comprendre notre modèle de production"
        .bloc:nth-child(3) {
            background-color: paleturquoise;
            height: 30vw;
            //min-height: 10px;     
            max-height: $bloc3_heightDesktop;
            
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: paleturquoise;
                height: 100%;
            }
        }



        
    }
}
/* ------- STYLE POUR ECRAN TAILLE MEDIUM ------- */
@include respond-to("medium") {
    //Structure desktop
    header {
        //Dimension
        height: $header_heightDesktop;
        //Style
        background-color: red;
    }
    .main {
        background-color: green;
        height: auto;
        .contain {
            //Bloquer la largeur 
            max-width: map-get($breakpoints,medium);
            height: 100%;
            margin: 0 auto;
        }
        .bloc:nth-child(1) {
            background-color: blue;
            height: $bloc1_heightDesktop;
            .contain{
                background-color: yellow;
                height: 100%;
            }            
        }
        .bloc:nth-child(2) {
            background-color: palegreen;
            height: $bloc2_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        .bloc:nth-child(3) {
            background-color: paleturquoise;
            height: $bloc3_heightDesktop;
            // /!\ Uniquement afin de voir visuellement les blocs - à retirer /!\
            .contain{
                background-color: yellow;
                height: 100%;
            }
        }
        .bloc:nth-child(4) {
            background-color: yellow;
            height: 100px;
        }
        .bloc:nth-child(5) {
            background-color: orange;
            height: 50px;
        }
    }
    .articles {
        height: auto;
        background-color: green;
        //Contient le contenu
        .contain {
            background-color: red;
            width: 65%;
            height: 100%;
            margin: 0 auto;
        }
        //Applicable aux blocs
        .bloc {
            margin-bottom: 10px;
        }
        //Bloc 1: Actualités
        .bloc:nth-child(1) {
            background-color: blue;
            height: 300px;
        }
        //Bloc 2: Notre démarche
        .bloc:nth-child(2) {
            background-color: pink;
            height: 300px;
        }
        //Bloc 3: Nos installations
        .bloc:nth-child(3) {
            background-color: yellow;
            height: 300px;
        }
        //Bloc 4: Témoignages
        .bloc:nth-child(4) {
            background-color: brown;
            height: 300px;
        }
    }
    footer {
        height: 200px;
        background-color: black;
    }
}
