/*---   GENERAL    ---- */
a,
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

li {
  list-style-type: none;
}

.menu {
  height: auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.topHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 20px;
}

.topHeader .logo {
  height: 60px;
  width: 250px;
}

.dropdownMenu {
  display: none;
}

.hamburger {
  height: 45px;
}

.navigationHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.navigationHeader nav ul li {
  width: 100%;
}

.navigationHeader nav ul li a {
  font-size: 1.6em;
}

input[type='checkbox'] ~ .nav {
  display: none;
}

input[type='checkbox']:checked ~ nav {
  display: block;
}

@media screen and (min-width: 940px) {
  /* ---   Header   --- */
  .hamburger {
    display: none;
  }
  /* Mettre le header en ligne*/
  .menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .navigationHeader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
  input[type='checkbox'] ~ .nav {
    display: block;
  }
  input[type='checkbox'] ~ .nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .nav li a {
    margin: 30px;
  }
}

/* ------- MIXIN RACCOURCIS ------- */
/* GENERAL */
@font-face {
  font-family: 'lato-regular';
  src: url("quadranta.eot?") format("ttf");
}

.text_logo {
  font-family: 'lato-regular';
}

/* ------- STYLE POUR ECRAN TAILLE SMALL: min-width:0px ------- */
@media (min-width: 0px) {
  /* --- HEADER --- */
  header {
    min-height: 150px;
    max-height: 350px;
    height: 50vw;
    background-color: red;
  }
  header .menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    height: auto;
    background-color: white;
    padding: 5px 10px;
  }
  header .menu .logo {
    height: 100%;
  }
  header .menu .logo img {
    height: 40px;
  }
  header .menu .hamburger {
    width: 35px;
  }
  header .menu label {
    margin-bottom: 0px;
  }
  header .menu #dropdownMenu {
    display: none;
  }
  header .menu input[type="checkbox"]:checked ~ .navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    top: 55px;
    left: 0px;
    height: 200px;
    width: 100vw;
    background-color: whitesmoke;
  }
  header .menu input[type="checkbox"] ~ .navigation {
    display: none;
    height: 50px;
    width: 50px;
    background-color: pink;
  }
  header .menu .navigation ul {
    text-align: center;
  }
  header .menu .navigation ul li {
    font-size: 1.2em;
  }
  header .menu .misEnAvant {
    color: #fcb731;
  }
  /* --- MAIN --- */
  .main {
    height: auto;
  }
  .main .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(1) {
    background-color: blue;
    height: 80vw;
    min-height: 300px;
    max-height: 400px;
  }
  .main .bloc:nth-child(1) .contain {
    background-color: blue;
    height: 100%;
  }
  .main .bloc:nth-child(2) {
    background-color: palegreen;
    height: 80vw;
    min-height: 300px;
    max-height: 300px;
  }
  .main .bloc:nth-child(2) .contain {
    background-color: palegreen;
    height: 100%;
  }
  .main .bloc:nth-child(3) {
    background-color: paleturquoise;
    height: 30vw;
    max-height: 100px;
  }
  .main .bloc:nth-child(3) .contain {
    background-color: paleturquoise;
    height: 100%;
  }
  .main .bloc:nth-child(4) {
    background-color: #FCFF6C;
    height: 80vw;
    max-height: 300px;
  }
  .main .bloc:nth-child(4) .contain {
    background-color: #FCFF6C;
    height: 100%;
  }
  .main .bloc:nth-child(5) {
    background-color: orange;
    height: 30vw;
    max-height: 100px;
  }
  .main .bloc:nth-child(5) .contain {
    background-color: orange;
    height: 100%;
  }
  /* --- ARTICLES --- */
  .articles .bloc {
    margin-bottom: 10px;
  }
  .articles .bloc:nth-child(1) {
    background-color: pink;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(1) .contain {
    background-color: pink;
    height: 100%;
  }
  .articles .bloc:nth-child(2) {
    background-color: brown;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(2) .contain {
    background-color: brown;
    height: 100%;
  }
  .articles .bloc:nth-child(3) {
    background-color: blue;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(3) .contain {
    background-color: blue;
    height: 100%;
  }
  .articles .bloc:nth-child(4) {
    background-color: #bd2d2d;
    height: 80vw;
    min-height: 300px;
    max-height: 350px;
  }
  .articles .bloc:nth-child(4) .contain {
    background-color: #bd2d2d;
    height: 100%;
  }
  footer {
    background-color: black;
    height: 50vw;
    min-height: 200px;
    max-height: 200px;
  }
  footer .contain {
    background-color: black;
    height: 100%;
  }
}

/* ------- STYLE POUR ECRAN TAILLE MEDIUM ------- */
@media (min-width: 800px) {
  header {
    height: 350px;
    background-color: red;
  }
  .contain {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
  }
  .main {
    background-color: green;
    height: auto;
  }
  .main .bloc:nth-child(1) {
    background-color: blue;
    height: 400px;
  }
  .main .bloc:nth-child(1) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(2) {
    background-color: palegreen;
    height: 300px;
  }
  .main .bloc:nth-child(2) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(3) {
    background-color: paleturquoise;
    height: 100px;
  }
  .main .bloc:nth-child(3) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(4) {
    background-color: #FCFF6C;
    height: 300px;
  }
  .main .bloc:nth-child(4) .contain {
    background-color: yellow;
    height: 100%;
  }
  .main .bloc:nth-child(5) {
    background-color: orange;
    height: 100px;
  }
  .main .bloc:nth-child(5) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles {
    height: auto;
    background-color: green;
  }
  .articles .contain {
    background-color: red;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
  }
  .articles .bloc:nth-child(1) {
    background-color: pink;
    height: 350px;
  }
  .articles .bloc:nth-child(1) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles .bloc:nth-child(2) {
    background-color: brown;
    height: 350px;
  }
  .articles .bloc:nth-child(2) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles .bloc:nth-child(3) {
    background-color: blue;
    height: 350px;
  }
  .articles .bloc:nth-child(3) .contain {
    background-color: yellow;
    height: 100%;
  }
  .articles .bloc:nth-child(4) {
    background-color: #bd2d2d;
    height: 350px;
  }
  .articles .bloc:nth-child(4) .contain {
    background-color: yellow;
    height: 100%;
  }
  footer {
    height: 200px;
    background-color: black;
  }
  footer .contain {
    background-color: yellow;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
